// Import page-specific CSS files here.
@import "challenge1";
@import "challenge2";
@import "challenge3";
@import "challenge4";
@import "challenge5";
@import "challenge6";
@import "challenge7";
@import "challenge8";
@import "challenge9";
@import "challenge10";
@import "challenge11";
@import "challenge12";
@import "challenge13";
@import "challenge14";
@import "challenge15";
@import "challenge16";
@import "challenge17";
@import "challenge18";
@import "challenge19";
@import "challenge20";
@import "challenge21";
@import "challenge22";
@import "challenge23";
@import "challenge24";
@import "challenge25";
@import "challenge26";
@import "challenge27";
@import "challenge28";
