.card {
  position: relative;
  margin: 20px;
  padding: 10px;
  transition: 0.3s all ease;
  &:hover {
    transform: scale(1.02);
  }
}

.link-card {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: black;
  opacity: 0;
  &:hover {
    opacity: 0.05;
  }
}
